<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{appName}}</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a (click)="emitClick()" *ngIf="isEmmiter" mat-list-item [routerLink]="routesPaths.dashboard + '/' + routesPaths.emit">Emitir</a>
      <a (click)="emitedsClick()"  *ngIf="isEmmiter" mat-list-item [routerLink]="routesPaths.dashboard + '/' + routesPaths.emiteds">Emitidos</a>
      <a (click)="portfolioClick()" mat-list-item [routerLink]="routesPaths.dashboard + '/' + routesPaths.portfolio">En Cartera</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="title-nav">
        <div id="span-title">{{title}}</div>
        <div id="span-address"> <app-address></app-address></div>
      </div>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
